body{
    background-image:url( mami.jpg;)
    color:white;
        }
        
        a:link{  
  
            background-color:burlywood ;
            color:white;  
            padding:15px 20px;
            
            }  
             img {  border-radius: 800px; 
            text-align: center; }
            .image:hover:m{
left:45%;
            }