h1{
    text-align:center;}
    body{
            background-color: pink;
            color: rgb(17, 17, 17);}
           
            a:link{  
      
      background-color:rgb(20, 114, 196);
      color:rgb(14, 13, 13);  
      padding:15px 20px;
      
      }  
    
    